@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: black;
    margin: 0;
    margin-left: 300px;
    margin-top: 100px;
    width: 400px;
    height: 500px;
    border: 2px solid black;
    text-align: center;
    background-color: white;
}

.header {
    margin: 0;
    border-bottom: 2px solid black;
    background-color: green;
    margin-bottom: 10px;
}

.modoru {
    margin-left: 120px;
    padding: 5px;
    background-color: green;
    border-radius: 5px;
    list-style: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.time {
    display: flex;
    margin: 20px;
}

.time p {
    margin: 0;
    margin-left: 20px;
}

.time .e {
    margin-left: 4rem;
}

.kg {
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.kg2 {
    display: flex;
    margin: 0;
}

.memo {
    width: 80%;
    margin-left: 20px;
}

.memo .memo-text {
    margin-right: 230px;
}

.memo input[type=email] {
    margin-left: 20px;
    background-color: #fff;
    border: 3px solid black;
    font-size: 17px;
    margin-top: 0px;
    padding-bottom: 20px;
    width: 300px;
}

.button {
    margin-left: 100px;
    width: 200px;
    padding: 15px 10px;
    background-color: lightblue;
    border-radius: 5px;
    background-color: ;
}

.button:hover {
    background-color: black;
}